altair
altgraph
attrs
babel
blinker
cachetools
certifi
charset-normalizer
click
colorama
docopt
fpdf
gitdb
GitPython
greenlet
idna
Jinja2
jsonschema
jsonschema-specifications
MarkupSafe
narwhals
numpy
packaging
pandas
pefile
pillow
pipreqs
protobuf
psycopg2
psycopg2-binary
pyarrow
pydeck
pyinstaller
pyinstaller-hooks-contrib
PyQt5
PyQt5-Qt5
PyQt5_sip
python-dateutil
pytz
pywin32
pywin32-ctypes
referencing
requests
rpds-py
setuptools
six
smmap
SQLAlchemy
streamlit
tenacity
tkcalendar
toml
tornado
typing_extensions
tzdata
urllib3
watchdog
wheel
yarg
